.cabeçalho{
    background-color: rgb(99, 241, 194);
}

 .principal{
    background-color: rgb(238, 68, 17);
    color: #088ce4;
 }

 .rodape{
   background-color: #8edbe0;
   color: rgb(12, 228, 228);
   text-align: center;
 }
#img-corinthians{
   width: 400px;
   border:3px rgb(7, 100, 240) double;
}












