.cabeçalho{
    background-color: rgb(7, 230, 155);
}

 .principal{
    background-color: rgb(24, 6, 1);
    color: #081ee4;
 }

 .rodape{
   background-color: #8edbe0;
   color: rgb(1, 22, 22);
   text-align: center;
 }
#img-corinthians{
   width: 400px;
   border:10px rgb(7, 224, 240) double;
}












